{
    "appid" : "sw",
    "appkey" : "secret",
    "version_whitelist" : {
        "0_0_0" : [".*"]
    },
    "platform_whitelist" : {
        "local" : ["master1","main1","banshu1","alpha1"]
    },
    "ip_whitelist" : {
    },
    "account_whitelist" : {
    },
    "max_role_num_per_account" : 25,
    "current_serverlist" : "server",
    "max_role_num_per_server" : 1
}
