{
    "game21" : {
        "ip" : "192.168.0.222",
        "cluster_ip" : "127.0.0.1",
        "debug_port" : 2021,
        "cluster_port" : 3021,
        "http_port" : 4021,
        "https_port" : 24021,
        "websocket_port" : 5021,
        "wss_port" : 25021,
        "tcp_port":6021,
        "kcp_port":7021,
        "id" : "game21",
        "name" : "1",
        "index" : 21,
        "type" : "game",
        "zoneid" : "master1",
        "zonename" : "1",
        "clusterid" : "master",
        "clustername" : "",
        "opentime" : "2019-08-27 17:45:00"
    },
    "game22" : {
        "ip" : "192.168.0.222",
        "cluster_ip" : "127.0.0.1",
        "debug_port" : 2022,
        "cluster_port" : 3022,
        "http_port" : 4022,
        "https_port" : 24022,
        "websocket_port" : 5022,
        "wss_port" : 25022,
        "tcp_port":6022,
        "kcp_port":7022,
        "id" : "game22",
        "name" : "2",
        "index" : 22,
        "type" : "game",
        "zoneid" : "master1",
        "zonename" : "1",
        "clusterid" : "master",
        "clustername" : "",
        "opentime" : "2019-08-27 17:45:00"
    },
    "scenemgr21" : {
        "ip" : "192.168.0.222",
        "cluster_ip" : "127.0.0.1",
        "debug_port" : 2121,
        "cluster_port" : 3121,
        "tcp_port" : 6121,
        "kcp_port":7121,
        "id" : "scenemgr21",
        "name" : "21",
        "index" : 121,
        "type" : "scenemgr",
        "zoneid" : "master1",
        "zonename" : "1",
        "clusterid" : "master",
        "clustername" : "",
        "opentime" : "2021-03-08 14:30:00"
    },
    "scenemgr22" : {
        "ip" : "192.168.0.222",
        "cluster_ip" : "127.0.0.1",
        "debug_port" : 2122,
        "cluster_port" : 3122,
        "tcp_port" : 6122,
        "kcp_port":7122,
        "id" : "scenemgr22",
        "name" : "22",
        "index" : 122,
        "type" : "scenemgr",
        "zoneid" : "master1",
        "zonename" : "1",
        "clusterid" : "master",
        "clustername" : "",
        "opentime" : "2021-03-08 14:30:00"
    },
    "center" : {
        "ip" : "192.168.0.222",
        "cluster_ip" : "127.0.0.1",
        "debug_port" : 2231,
        "cluster_port" : 3231,
        "http_port" : 4231,
        "https_port" : 24231,
        "id" : "center",
        "name" : "",
        "index" : 231,
        "type" : "center",
        "zoneid" : "master1",
        "zonename" : "1",
        "clusterid" : "master",
        "clustername" : "",
        "opentime" : "2021-03-08 14:30:00"
    }
}