{

    "game1" : {
        "ip" : "192.168.130.66",
        "cluster_ip" : "127.0.0.1",
        "debug_port" : 2001,
        "cluster_port" : 3001,
        "http_port" : 4001,
        "https_port" : 24001,
        "websocket_port" : 5001,
        "wss_port" : 25001,
        "tcp_port":6001,
        "kcp_port":7001,
        "id" : "game1",
        "name" : "1",
        "index" : 1,
        "type" : "game",
        "zoneid" : "alpha1",
        "zonename" : "1",
        "clusterid" : "alpha",
        "clustername" : "",
        "opentime" : "2019-08-27 17:45:00"
    },
    "game2" : {
        "ip" : "192.168.130.66",
        "cluster_ip" : "127.0.0.1",
        "debug_port" : 2002,
        "cluster_port" : 3002,
        "http_port" : 4002,
        "https_port" : 24002,
        "websocket_port" : 5002,
        "wss_port" : 25002,
        "tcp_port":6002,
        "kcp_port":7002,
        "id" : "game2",
        "name" : "2",
        "index" : 2,
        "type" : "game",
        "zoneid" : "alpha1",
        "zonename" : "1",
        "clusterid" : "alpha",
        "clustername" : "",
        "opentime" : "2019-08-27 17:45:00"
    }
}
