include "common.config"
ip = "10.168.1.2"
http_port = 4000
debug_port = 2000
cluster_ip = "127.0.0.1"
cluster_port = 3000
clusterid = "main"             -- "",""master--"",main--"",alpha--"",beta--"",release=""
id = "login"          -- ""ID
name = "login"           -- ""
index = 0           -- ""
type = "login"           -- ""
opentime = "2022-12-01 12:12:12"
start = "app/login/main"					-- ""
