include "common.config"
ip = "192.168.30.66"
http_port = 4000
debug_port = 2000
cluster_ip = "127.0.0.1"
cluster_port = 3000
clusterid = "main"             -- ,master--,main--,alpha--,beta--,release=
id = "login"          -- ID
name = ""           -- 
index = 0           -- 
type = "login"           -- 
opentime = "2019-08-27 17:45:00"
start = "app/login/main"					-- 

-- 
gamePaybackHost="127.0.0.1:2231"
